@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --primary-color: #FEDC00;
  --secondary-color: #FFFFFF;
  --terciary-color: #000000;
  --quaternary-color: #808080;
}

.app {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Ubuntu';
  background-color: var(--terciary-color);
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-color: #555 #333;
}