.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 4rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.projects.animate-slide-in-projects {
    opacity: 1;
    animation: slide-fade-in-projects 2s both;
}

@keyframes slide-fade-in-projects {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container-initial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-filter {
    display: flex;
    gap: 2rem;
}

.container-filter .button-filter {
    padding: .4rem 2rem;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.container-filter .button-filter:hover {
    opacity: 90%;
}

.main-button {
    background-color: rgba(254, 220, 0, 0.75);
    color: var(--secondary-color);
}

.container-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-items: center;
    padding: 4rem;
}

.card {
    width: 280px;
    height: 440px;
    border: solid 2px var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--secondary-color);
    transition: .5s;
}

.card:hover {
    scale: 1.1;
}

.container-start {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-start img {
    padding: 0rem 1rem 0;
}

.container-start p {
    padding: 0 1.5rem 0;
}

.card .container-button {
    display: flex;
    gap: 1rem;
}

.card .container-button button {
    padding: 12px 24px;
    border-radius: .5rem;
    font-size: 1rem;
    background: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    border: solid 2px var(--secondary-color);
    cursor: pointer;
}

.card .container-button button:hover {
    color: var(--terciary-color);
    background-color: var(--secondary-color);
    transition: .5s;
}

.left-up-decoration {
    position: absolute;
    left: 64px;
    top: 64px;
}

.right-up-decoration {
    position: absolute;
    right: 64px;
    top: 64px;
}

.right-down-decoration {
    position: absolute;
    right: 64px;
    bottom: 64px;
}

/* NOTEBOOK */
@media (max-width:1800px){
    .container-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/* TABLET */
@media (max-width:1100px){
    .container-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .left-up-decoration {
        width: 64px;
        right: 32px;
        top: 32px;
    }
    
    .right-up-decoration {
        width: 64px;
        right: 32px;
        top: 32px;
    }

    .right-down-decoration {
        width: 64px;
    }
}

/* MOBILE */
@media (max-width:740px){
    .container-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .left-up-decoration {
        width: 64px;
        right: 32px;
        top: 32px;
    }
    
    .right-up-decoration {
        width: 64px;
        right: 32px;
        top: 32px;
    }

    .right-down-decoration {
        width: 64px;
    }
}